* {
	border:0pt none;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0pt;
	outline-color:invert;
	outline-style:none;
	outline-width:0pt;
	padding:0pt;
	vertical-align:baseline;
	text-decoration-style: #ffffff;
}

body {
	background:#151d30;
	font-size:12px;
	font-family:arial, sans-serif;
	
}

a {
	color:#fefefe;
	text-decoration:none;
}

a:hover {
	color:#fefefe;
	text-decoration:none;
}

.header {
	width:100%;
	height:150px;
	border:1px solid red;
	
}
.logo {
	padding:35px 0px 40px 0px;
	border:1px solid blue;
	text-align: center;
}

.navi {
	width:100%;
	height:50px;
	border:1px solid red;	
}
.navi ul {
	font-size:30px;
	list-style:none;
	color:#fffdbf;
	text-align:center;
	margin: 0px 0 0 0;
}
.navi ul li{
	display:inline;
}

.navi ul li a{
	color:#fffdbf;	
	display:inline-block;
	padding:12px 22px;
	line-height:27px;
	text-decoration:none;
}
.navi ul li a:hover{
	color:rgb(50, 50, 255);
	display:inline-block;
	padding:12px 22px;
	line-height:27px;
	text-decoration:none;
}


.body {
	width:100%;
	height:500px;
	border:1px solid red;	
}
.leftsidebar {
	font-size: 14pt;
    border: #333 solid 1px;
    margin-top: 20px;
    float: left;
    clear:both;
    height:100%;
	vertical-align:center;
}



.recommand {
	width:100%;
	height:120px;
	border:1px solid red;
}
.footer {
	width:100%;
	height:50px;
	border:1px solid red;
}